#top-bar
  #logo
    =image_tag('logo.svg')
    %span mail
  = link_to ('/compose') do
    #compose-button
  #sync-button
  #account
    = image_tag(current_user.profile_pic, :class => "rounded-pic" )
    #dropdown-icon
      %ul#act-menu
        %li
          %a{:href => "/signout"} Logout
%nav
  #displace
  #search
    .input-group.add-on
      %input#srch-term.form-control{:name => "srch-term", :placeholder => "Search email...", :type => "text"}
        .input-group-btn
          .btn
            %i.glyphicon.glyphicon-search
  #folders
    %hr
    %h3 Folders
    %hr
    %ul
      %li 
        .inbox-icon
        .folder-text Inbox
      %li
        .draft-icon 
        .folder-text Mail Merge
      %li 
        .star-icon
        .folder-text Starred
      %li 
        .reply-icon
        .folder-text Boomerang
  #labels 
    %hr
    %h3 Labels
    %hr
    %ul
      %li 
        .circle-indicator
        .label-text Close Friends
      %li 
        .circle-indicator
        .label-text Hackathons
      %li 
        .circle-indicator
        .label-text Work
      %li 
        .circle-indicator
        .label-text School
#container
  #inbox-header
    %form.form-horizontal
      #span{:style => "margin-top: 20px;"}
        .form-group
          %input#textinput.form-control.input-md{:name => "textinput", :placeholder => "shravvmehtaa@gmail.com", :required => "", :type => "text"}
          %textarea#message.form-control{:name => "message", :placeholder => "Hey Blah", :style => "margin-top: 20px; height: 400px;"}
          - mail_merge()