<nav role="main">
	<p class = "folder_title"> Folders </p>
	<p> Inbox</p>
	<p> Draft</p>
	<p> Sent</p>
	<p> Drafts </p>
	<p> Sent </p>
	<p> Deleted</p>
  <p><%= link_to "Log Out", "/signout" %></p>
</nav>

<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
