#container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 70px;
  margin-left: -320px;
  left: 660px;
}

#all-messages {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin-left: -323px;
  padding-left: 320px;
  font-family: 'Source Sans Pro', sans-serif;
}

.table {
  table {
    width: 100%;  
    max-width: 100%;
    overflow-y: scroll;
    margin-right: 380px;
    margin-bottom: 200px;

    td {
      padding: 5px;
    }
    td:first-child {
      float: left;
      margin-left: 3px;
    }
  }
}

html, body {
  height:100%;
  width: 100%;
  overflow:hidden;
}

nav {
  background: #33393D;
  font-family: 'Source Sans Pro', sans-serif;
  border-right: 2px solid #000;
  width: 317px;
  height: 100%;
  color: #fff;
}

#displace {
  display: inline-block;
}

#search {
  margin-top: 20px;
  display: inline-block;
}

#top-bar {
  height: 70px;
  line-height: 60px;
  background: #0073C7;
  border-bottom: 2px solid #0064AE;
}

#logo {
  display: inline-block;
  background: #141d26;
  line-height: 63px;
  height: 70px;
  display: inline-block;
  padding-left: 30px;
  padding-right: 200px;

  img {
    display: inline-block;
    height: 35px;
    margin-top: -5px;
  }
  span {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    display: inline-block;
  }
}

#inbox-header {
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px solid #C3CCCE;
  margin-bottom: 10px;
  margin-right: 370px;
  
  h3 {
    font-size: 44px;
    margin-bottom: 30px;
  }
}

#labels {
      display: inline-block;
	font-size: 15px;
	font-weight: lighter;
}

.blue-border {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #3498DB;
  width: 30px;
}

.gray-border {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #95A5A6;
  width: 30px;
}

.rounded-pic {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
