nav{
  width: 200px;
  height: 700px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-color: rgba(9,161,188,0.3);
}

p{
	margin-bottom: 10px;
	font-size: 20px;
	padding-left: 5px;
	font-family: arial;
	margin-left: 10px;
}
.table {
  tr {
    height: 60px;
  }
  td {
    height: 60px;
  }
}


.folder_title{
	font-size: 35px;
	font-weight: lighter;
}

.blue-border {
  border: 3px solid #3498DB;
  width: 56px;
}

.gray-border {
  border: 3px solid #95A5A6;
  width: 56px;
}

.rounded-pic {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
