#container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 70px;
  margin-left: -320px;
  left: 660px;
}

#all-messages {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin-left: -323px;
  padding-left: 320px;
  font-family: 'Source Sans Pro', sans-serif;
}

.table {
  .time {
        color: #525C5E;
        font-weight: 500;
    }

    .message {
        color: #8D9394;
        font-weight: 400;
    }

    .name {
        color: #343D3F;
        font-weight: 600;
    }

    tr {
        padding: 10px 0;
    }

    tr:hover {
      background-color: #efefef;
      cursor: pointer; cursor: hand; 
    }

  table {
    width: 100%;  
    max-width: 100%;
    overflow-y: scroll;
    margin-right: 380px;
    margin-bottom: 200px;

    td {
      padding: 5px;

      
    }

    td:first-child {
      float: left;
      margin-left: 3px;
    }
    td:last-child {
      float: right;
      margin-right: 40px;
    }
  }
}

.table-messages {

  table {
    width: 100%;  
    max-width: 100%;
    overflow-y: scroll;
    margin-right: -380px;
    margin-bottom: 200px;

    td {
      padding: 5px;
      display: inline-block;
      width: 800px;
      border-bottom: 2px solid #AFBEC0;
    }
  }
}

html, body {
  height:100%;
  width: 100%;
  overflow:hidden;
}

nav {
  background: #33393D;
  font-family: 'Source Sans Pro', sans-serif;
  width: 317px;
  height: 100%;
  color: #fff;
}

#displace {
  display: inline-block;
}

#search {
  margin-top: 15;
  margin-bottom: 20px;
  padding: 0px 25px;

  input {
    background-color: #444A4F;
    color: #9099A0;
    border-color:#272C2F; 
    border-right: none;
  }

    .btn {
    background-color: #444A4F;
    border-color:#272C2F; 
    border-left: 0px;
    pointer-events: none;
  }

  .btn:hover {
    color: #FFF;
  }

  /* stop the glowing blue shadow */
  .add-on .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#272C2F; 
  }
}

#folders {
  h3 {
    padding: 0px 25px;
    margin-bottom: 10px;
  }

  hr {
    padding: 0px 30px;
    width: 210px;
    margin: 10;
    border-color: #CCC;

  }

  ul {
    margin: 0;
    padding: 0;

    li {
      font-family: 'Source Sans Pro', sans-serif;
      list-style-type: none;
      list-style-position:inside;
      margin:0;
      padding:0;
      height: 50px;
      padding: 0px 25px;
      font-weight: 100;
      font-size: 16px;
      width: 100%;
      line-height: 50px;
    }

    li:first-child {
      color: #fff;
    }

    .folder-text {
      display: inline-block;
      line-height: 50px;
      vertical-align:middle;
    }


.inbox-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("inbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.draft-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("drafts.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.star-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("star.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.reply-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("reply.png");
  background-repeat: no-repeat;
  background-size: contain;
}

  }
}

#labels {
  h3 {
    padding: 0px 25px;
    margin-bottom: 10px;
  }

  hr {
    padding: 0px 30px;
    width: 210px;
    margin: 10;
    border-color: #CCC;

  }

  ul {
    margin: 0;
    padding: 0;

    li {
      font-family: 'Source Sans Pro', sans-serif;
      list-style-type: none;
      margin:0;
      padding:0;
      padding: 8px 30px;
      font-weight: 400;

        .circle-indicator {
         width: 15px;
         height: 15px;
         line-height: 20px;
         background-color: #3498DB;
         box-shadow: 0 0 0 4px #33393D, 0 0 0 6px #3498DB;
         -moz-border-radius: 100%; 
         -webkit-border-radius: 100%; 
         border-radius: 100%;
         display: inline-block;
         margin-right: 20px;
        }

        .label-text {
          position: absolute;
          display: inline-block;
          line-height: 15px;
        }
    }
  }
}


#top-bar {
  height: 70px;
  line-height: 60px;
  background: #0073C7;
  border-bottom: 2px solid #0064AE;

#compose-button {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-top: 5px;
  margin-left: 20px;
  display: inline-block;
  background-image: image-url("compose.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#compose-button:hover {
  background-image: image-url("compose_dark.png");
  background-repeat: no-repeat;
  background-size: contain;
}


  #sync-button {
  height: 30px;
  vertical-align:middle;
  margin-top: -3px;
  width: 30px;
  margin-left: 40px;
  display: inline-block;
  background-image: image-url("sync.png");
  background-repeat: no-repeat;
  background-size: contain;
}

ul#act-menu {
    width:200px;
    margin: 0;
    padding: 0;
    margin-left: -170px;
    margin-top: 20px;
    visibility: hidden;
    line-height: 40px;
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
box-shadow: 0 0 10px rgba(0,0,0, .65);

    li {
      background-color: #fff;
      list-style-type: none;
      text-align: center;
      margin: 0px;
          border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;

      a {
       margin: 0;
       padding: 0;
       color: #000;
      }
    }
}
#dropdown-icon:hover #act-menu {
    visibility:visible;
}

#account {
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 40px;

    img {
      display: inline-block;
      width: 40px;
      line-height: 70px;
    }

  #dropdown-icon {
  height: 20px;
  vertical-align:middle;
  width: 20px;
  margin-left: 5px;
  display: inline-block;
  background-image: image-url("dropdown.png");
  background-repeat: no-repeat;
  background-size: contain;
}
}

}

#logo {
  display: inline-block;
  background: #141d26;
  line-height: 63px;
  height: 70px;
  display: inline-block;
  padding-left: 30px;
  padding-right: 199px;

  img {
    display: inline-block;
    height: 35px;
    margin-top: -5px;
  }
  span {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    display: inline-block;
  }
}

#inbox-header {
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 2px solid #C3CCCE;
  margin-bottom: 10px;
  margin-right: 370px;
  
  h3 {
    font-size: 44px;
    margin-bottom: 30px;
  }

  #buttons {
    margin-bottom: 20px;
    margin-left: 2px;
    display: inline-block;
  }

  #sort {
    float:right;
    margin-right: 2px;
    padding-right: 5px;
    padding-bottom: 29px;
    border-bottom: 3px solid #000;

    .recent {
      font-weight: 600;
    }
  }

.reply-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("reply.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.star-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("star.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.trash-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("trash.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.info-icon {
  height: 30px;
  vertical-align:middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  background-image: image-url("info.png");
  background-repeat: no-repeat;
  background-size: contain;
}

}

.blue-border {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #3498DB;
  width: 30px;
}

.gray-border {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #95A5A6;
  width: 30px;
}

img.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.rounded-pic {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
